/* Media Queries */
@media (max-width: 768px) {
    .hero .container {
        flex-direction: column;
        text-align: center;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-content h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 576px) {

    .container {
        padding: 0;
    }

    .header {
        padding: 1rem;
    }

    .header h1 {
        font-size: 1rem;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .about-content {
        padding: 0 1rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .project-card {
        margin-bottom: 2rem;
    }
}